* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62, 5%;
}

body {
  background-color: black;
}

.container-fluid {
  padding: 0% 8%;
  font-size: 1.8rem;
  border-bottom: 1px solid #1f7dc0;
}

.navbar-brand {
  font-size: 2.8rem;
}

.socials {
  margin-left: 72px;
  margin-right: 20px;
}

.nav-link:hover {
  color: #58d9dd !important;
}

/* home */

#home {
  padding: 200px 0;
  background-color: black;
  border-bottom: 1px solid #1f7dc0;
  /* max-width: 1140px; an image references*/
}

.content-home {
  margin-left: 146px;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.6rem;
  color: white;
}

p {
  color: #d8d8d8;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 160%;
  margin: 40px 0;
}

span {
  color: #58d9dd;
}

.logos {
  width: 400px;
  height: 400px;
}

/* .background-home {
    background-color: black;
} */

/* About */

#sobre {
  background-color: black;
  height: 780px;
  margin-top: 10px;
}

.profile {
  background-color: #09090b;
  border: 2px solid #101013;
  padding: 24px;
  margin-top: 24px;
}

.profile-picture {
  width: 600px;
  height: 650px;
}

h4 {
  color: #58d9dd;
}

h2{
    font-size: 2.5rem;
    font-weight: 500;
    color: white;
}

h3 {
    color: white;
    font-size: 1.2rem;
}


.about {
  background-color: blue;
}

button {
  width: 100px;
  height: 100px;
  border: 5px solid #101013;
  background-color: black;
  border-radius: 10%;
  margin-right: 10px;
  
  
}

button:hover {
  border-color: #58d9dd;
}

.brand-color {
 color: #58d9dd;
 
}


/* Portfólio */

#portfolio {
  background-color: #09090B;
}


.projetos {
  background-color: yellow;
  width: 800px;
  height: 350px;
  margin-bottom: 20px;
  border: 3px solid red;
  background-image: url("https://user-images.githubusercontent.com/82289818/206076227-0db68586-4ca3-400d-b531-6395d041b3a5.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  
}
.repo {
 flex-wrap: nowrap;
  
  
}

/* Media Querrys */

@media (max-width: 1028px) {
  .socials {
    margin-left: 0;
    margin-right: 0;
  }

  h1 {
    font-size: 24px;
  }
}
